.sidebar__section {
   grid-area: sidebar;
   background: var(--sidebar);
   color: white;
   padding: 1.5rem 0;
   box-shadow: var(--card-shadow);
   z-index: 200;
   overflow-y: auto;
   height: 100vh;
   position: sticky;
   top: 0;
   transition: all 0.5s ease;
}

@media (min-width: 769px) and (max-width: 1200px) {
   .sidebar__section {
      overflow-x: hidden;
   }
}

@media (max-width: 768px) {
   .sidebar__section {
      position: fixed;
      left: 100%;
      top: 0;
      height: 100vh;
      width: var(--sidebar-width);
      z-index: 200;
      transition: left 0.5s ease;
   }

   .sidebar__section.active {
      left: 0;
   }
}