.sectionTitle__container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1.5rem;
}

.sectionTitle__title {
   font-size: 1.5rem;
   color: var(--text-color)
}

@media (max-width: 992px) {
   .sectionTitle__title {
      font-size: 1.35rem;
   }
}

@media (max-width: 768px) {
   .sectionTitle__title {
      font-size: 1.2rem;
   }
}