.profileCard__section {
   grid-area: profile;
   background: var(--card-bg);
   border-radius: 16px;
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   box-shadow: var(--card-shadow);
   transition: all 0.5s ease;
}

.profileCard__section:hover {
   transform: translateY(-5px);
   box-shadow: var(--hover-shadow);
}

.profileCard__image {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   object-fit: cover;
   border: 4px solid white;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
   margin-bottom: 1.5rem;
}

.project-1 .progress-fill {
   /* background: linear-gradient(to right, var(--primary) 75%, var(--progress-bar-bg) 75%, var(--progress-bar-bg) 100%); */
}

.project-2 .progress-fill {
   /* background: linear-gradient(to right, var(--warning) 45%, var(--progress-bar-bg) 45%, var(--progress-bar-bg) 100%); */
}

/* .project-3 .progress-fill {
   background: linear-gradient(to right, var(--primary) 75%, var(--progress-bar-bg) 75%, var(--progress-bar-bg) 100%);
} */