.viewAll__link {
   color: var(--view-all-color);
   text-decoration: none;
   display: flex;
   align-items: center;
   gap: 0.5rem;

}

.viewAll__icon {
   font-size: 0.8rem;
}

@media (max-width: 992px) {
   .viewAll__link {
      font-size: 0.9rem;
   }

   .viewAll__icon {
      font-size: 0.7rem;
   }
}

@media (max-width: 768px) {
   .viewAll__link {
      font-size: 0.8rem;
   }

   .viewAll__icon {
      font-size: 0.6rem;
   }
}