.projects__section {
   grid-area: projects;
}

.projects__title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 1.5rem;
}

.section-title h2 {
   font-size: 1.5rem;
   color: var(--text-color)
}