.searchBar__container {
   display: flex;
   align-items: center;
   background: var(--time-bg);
   border-radius: 30px;
   padding: 0.5rem 1rem;
   width: 300px;
}

.searchBar__icon {
   color: var(--gray);
}

.searchBar__input {
   border: none;
   background: transparent;
   padding: 0.5rem;
   width: 100%;
   font-size: 0.9rem;
   color: var(--text-color);
}

@media (max-width: 768px) {
   .searchBar__container {
      width: 200px;
   }

   .searchBar__input {
      padding: 0.1rem 0.5rem;
      height: 0.7rem;
   }
}

@media (max-width: 576px) {
   .searchBar__container {
      display: none;
   }
}