.welcomeBanner__btn {
   padding: 0.8rem 1.5rem;
   border-radius: 50px;
   font-weight: 600;
   cursor: pointer;
   transition: all 0.5s ease;
   border: none;
   font-size: 1rem;
}

.welcomeBanner__btn-light {
   background: rgba(255, 255, 255, 0.2);
   color: white;
   -webkit-backdrop-filter: blur(10px);
   backdrop-filter: blur(10px);
}

.welcomeBanner__btn-light:hover {
   background: rgba(255, 255, 255, 0.3);
   transform: translateY(-3px);
}

.welcomeBanner__icon {
   margin-right: 3px;
   font-size: 0.85rem;
}