.header__section {
   grid-area: header;
   background: var(--header-bg);
   padding: 0 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: var(--shadow);
   transition: background 0.5s ease;
}

.header__left {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.mobile__toggle {
   display: none;
   background: none;
   border: none;
   font-size: 1.5rem;
   cursor: pointer;
   color: var(--text-color);
}

.searchBar__container {
   display: flex;
   align-items: center;
   background: var(--time-bg);
   border-radius: 30px;
   padding: 0.5rem 1rem;
   width: 300px;
}

.searchBar__icon {
   color: var(--gray);
}

.searchBar__input {
   border: none;
   background: transparent;
   padding: 0.5rem;
   width: 100%;
   font-size: 0.9rem;
   color: var(--text-color);
}

.header__right {
   display: flex;
   align-items: center;
   gap: 1.5rem
}


/* Theme Toggle*/
.theme__toggle {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: var(--card-bg);
   color: var(--text-color);
   border: none;
   cursor: pointer;
   transition: all 0.5s ease;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

.theme__toggle:hover {
   transform: translateY(-3px);
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.notification__container, .user-profile {
   position: relative;
   cursor: pointer;
}

.notification__container {
   width: 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

.notification__icon {
   margin: 0 15px;
}

.notification__badge {
   position: absolute;
   top: 0;
   right: 30px;
   background: var(--warning);
   color: white;
   font-size: 0.7rem;
   width: 18px;
   height: 18px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 5;
}

.userProfile__img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   object-fit: cover;
}