.header__section {
   grid-area: header;
   background: var(--header-bg);
   padding: 0 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: var(--shadow);
   transition: background 0.5s ease;
}

.header__left {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.header__right {
   display: flex;
   align-items: center;
   gap: 1.5rem
}